<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE generatorConfiguration PUBLIC
        "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd" >
<generatorConfiguration>

    <!-- 本地数据库驱动程序jar包的全路径 -->
    <classPathEntry location="D:\program_file\maven\repository\mysql\mysql-connector-java\5.1.46\mysql-connector-java-5.1.46.jar"/>

    <context id="context" targetRuntime="MyBatis3">
        <commentGenerator>
            <property name="suppressAllComments" value="true"/>
            <property name="suppressDate" value="true"/>
        </commentGenerator>

        <!-- 数据库的相关配置 -->
        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="jdbc:mysql://127.0.0.1:3306/message?useUnicode=true&amp;characterEncoding=utf-8&amp;useSSL=true" userId="root" password="toor"/>

        <javaTypeResolver>
            <property name="forceBigDecimals" value="false"/>
        </javaTypeResolver>

        <!-- 实体类生成的位置 -->
        <javaModelGenerator targetPackage="com.liyutg.plant.entity" targetProject="src\main\java">
            <property name="constructorBased" value="true"/>
            <property name="enableSubPackages" value="false"/>
            <property name="trimStrings" value="true"/>
        </javaModelGenerator>

        <!-- *Mapper.xml 文件的位置 -->
        <sqlMapGenerator targetPackage="mappers" targetProject="src\main\resources">
            <property name="enableSubPackages" value="false"/>
        </sqlMapGenerator>

         <!--Mapper 接口文件的位置-->
        <javaClientGenerator targetPackage="com.liyutg.plant.dao" targetProject=".\src\main\java" type="XMLMAPPER">
            <property name="enableSubPackages" value="false"/>
        </javaClientGenerator>

        <!-- 相关表的配置 -->
        <table tableName="disease_control" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"
               enableUpdateByExample="true" enableInsert="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true"
               enableDeleteByPrimaryKey="true" >
            <columnOverride column="image_url" javaType="java.lang.String" jdbcType="VARCHAR" />
            <columnOverride column="article_text" javaType="java.lang.String" jdbcType="VARCHAR" />
            <columnOverride column="introduction_img_url" javaType="java.lang.String" jdbcType="VARCHAR" />
            <columnOverride column="introduction_text" javaType="java.lang.String" jdbcType="VARCHAR" />

        </table>

        <!--<table tableName="upload_image" enableCountByExample="true" enableDeleteByExample="true" enableSelectByExample="true"-->
               <!--enableUpdateByExample="true" enableInsert="true" enableSelectByPrimaryKey="true" enableUpdateByPrimaryKey="true"-->
               <!--enableDeleteByPrimaryKey="true" />-->
    </context>
</generatorConfiguration>